In [1]:
import pandas as pd

In [2]:
df_gastro = pd.read_csv("merged_df_UmsatzTemperatur.csv")
df_dax = pd.read_csv("DAXHISTORIE.csv")

#Umwandlung des Jahr_Monat von 2023-1 zu 2023-01
df_gastro['Jahr_Monat'] = df_gastro['Jahr_Monat'].apply(lambda x: f"{x.split('-')[0]}-{int(x.split('-')[1]):02d}")

In [3]:
df_gastro

,Unnamed: 0,ID,Jahr,Monat,Gastro_Id,Umsatz in millionen,TMK,Jahr_Monat
0,0,0,1994,1,WZ08-55,92.3,4.2,1994-01
1,1,1,1994,1,WZ08-551,91.9,4.2,1994-01
2,2,2,1994,1,WZ08-552,97.3,4.2,1994-01
3,3,3,1994,1,WZ08-553,68.4,4.2,1994-01
4,4,4,1994,1,WZ08-559,127.1,4.2,1994-01
...,...,...,...,...,...,...,...,...
3724,3724,3955,2023,12,WZ08-561,94.3,6.5,2023-12
3725,3725,3956,2023,12,WZ08-562,96.5,6.5,2023-12
3726,3726,3957,2023,12,WZ08-563,70.1,6.5,2023-12
3727,3727,3958,2023,12,WZ08-561-01,91.9,6.5,2023-12
3728,3728,3959,2023,12,WZ08-55-01,90.7,6.5,2023-12

In [4]:
df_dax

,Date,Open,High,Low,Close,Adj Close,Volume
0,1987-12-30,1005.190002,1005.190002,1005.190002,1005.190002,1005.190002,0.0
1,1987-12-31,NaN,NaN,NaN,NaN,NaN,NaN
2,1988-01-01,NaN,NaN,NaN,NaN,NaN,NaN
3,1988-01-04,956.489990,956.489990,956.489990,956.489990,956.489990,0.0
4,1988-01-05,996.099976,996.099976,996.099976,996.099976,996.099976,0.0
...,...,...,...,...,...,...,...
9372,2024-05-28,18775.550781,18855.050781,18635.039063,18677.869141,18677.869141,52670400.0
9373,2024-05-29,18677.699219,18677.699219,18438.009766,18473.289063,18473.289063,59553600.0
9374,2024-05-30,18465.470703,18531.849609,18394.429688,18496.789063,18496.789063,52348300.0
9375,2024-05-31,18495.220703,18542.269531,18426.720703,18497.939453,18497.939453,144013800.0
9376,2024-06-03,18503.789063,18689.220703,18503.789063,18633.939453,18633.939453,0.0

In [5]:
df_dax['Date'] = pd.to_datetime(df_dax['Date'])

# Jahr und Monat extrahieren und als neue Spalte hinzufÃ¼gen
df_dax['YearMonth'] = df_dax['Date'].dt.to_period('M')

# Gruppieren nach Jahr und Monat und aggregieren
aggregated_dax = df_dax.groupby('YearMonth').agg({
    'Open': 'first',
    'Close': 'last',
}).reset_index()

# Umbenennen der 'YearMonth' Spalte in 'Date' fÃ¼r Konsistenz
aggregated_dax['YearMonth'] = aggregated_dax['YearMonth'].astype(str)  # Umwandlung in String-Format 'YYYY-MM'
aggregated_dax.rename(columns={'YearMonth': 'Date'}, inplace=True)
aggregated_dax

        Date          Open         Close
0    1987-12   1005.190002   1005.190002
1    1988-01    956.489990    936.000000
2    1988-02    951.500000   1083.339966
3    1988-03   1087.319946   1062.329956
4    1988-04   1063.280029   1049.170044
..       ...           ...           ...
434  2024-02  16834.130859  17678.189453
435  2024-03  17793.470703  18492.490234
436  2024-04  18492.359375  17932.169922
437  2024-05  17935.779297  18497.939453
438  2024-06  18503.789063  18633.939453

[439 rows x 3 columns]

In [6]:
min = df_gastro["Jahr_Monat"].min()
min

'1994-01'

In [7]:
max = df_gastro["Jahr_Monat"].max()
max

'2023-12'

In [8]:
# Step 1: Determine the date range from df_gastro
min_date = df_gastro["Jahr_Monat"].min()
max_date = df_gastro["Jahr_Monat"].max()

# Step 2: Filter the aggregated_dax DataFrame
filtered_dax = aggregated_dax[(aggregated_dax['Date'] >= min_date) & (aggregated_dax['Date'] <= max_date)]

# Step 3: Drop rows with any missing values
filtered_dax = filtered_dax.dropna()

# Display the filtered DataFrame
filtered_dax

        Date          Open         Close
73   1994-01   2252.429932   2192.600098
74   1994-02   2207.060059   2103.239990
75   1994-03   2101.989990   2142.879883
76   1994-04   2134.250000   2252.510010
77   1994-05   2261.229980   2137.340088
..       ...           ...           ...
428  2023-08  16414.789063  15947.080078
429  2023-09  15936.339844  15386.580078
430  2023-10  15439.959961  14810.339844
431  2023-11  14851.959961  16215.429688
432  2023-12  16296.919922  16751.640625

[360 rows x 3 columns]

#### merge von aggregated_dax und gastro

In [9]:
merged_df_dax_gastro = pd.merge(df_gastro, filtered_dax, how='left', left_on='Jahr_Monat', right_on='Date')
merged_df_dax_gastro

,Unnamed: 0,ID,Jahr,Monat,Gastro_Id,Umsatz in millionen,TMK,Jahr_Monat,Date,Open,Close
0,0,0,1994,1,WZ08-55,92.3,4.2,1994-01,1994-01,2252.429932,2192.600098
1,1,1,1994,1,WZ08-551,91.9,4.2,1994-01,1994-01,2252.429932,2192.600098
2,2,2,1994,1,WZ08-552,97.3,4.2,1994-01,1994-01,2252.429932,2192.600098
3,3,3,1994,1,WZ08-553,68.4,4.2,1994-01,1994-01,2252.429932,2192.600098
4,4,4,1994,1,WZ08-559,127.1,4.2,1994-01,1994-01,2252.429932,2192.600098
...,...,...,...,...,...,...,...,...,...,...,...
3724,3724,3955,2023,12,WZ08-561,94.3,6.5,2023-12,2023-12,16296.919922,16751.640625
3725,3725,3956,2023,12,WZ08-562,96.5,6.5,2023-12,2023-12,16296.919922,16751.640625
3726,3726,3957,2023,12,WZ08-563,70.1,6.5,2023-12,2023-12,16296.919922,16751.640625
3727,3727,3958,2023,12,WZ08-561-01,91.9,6.5,2023-12,2023-12,16296.919922,16751.640625
3728,3728,3959,2023,12,WZ08-55-01,90.7,6.5,2023-12,2023-12,16296.919922,16751.640625

In [10]:
merged_df_dax_gastro.drop(columns=["Unnamed: 0","ID","Jahr","Monat","Jahr_Monat"],inplace=True)
merged_df_dax_gastro

,Gastro_Id,Umsatz in millionen,TMK,Date,Open,Close
0,WZ08-55,92.3,4.2,1994-01,2252.429932,2192.600098
1,WZ08-551,91.9,4.2,1994-01,2252.429932,2192.600098
2,WZ08-552,97.3,4.2,1994-01,2252.429932,2192.600098
3,WZ08-553,68.4,4.2,1994-01,2252.429932,2192.600098
4,WZ08-559,127.1,4.2,1994-01,2252.429932,2192.600098
...,...,...,...,...,...,...
3724,WZ08-561,94.3,6.5,2023-12,16296.919922,16751.640625
3725,WZ08-562,96.5,6.5,2023-12,16296.919922,16751.640625
3726,WZ08-563,70.1,6.5,2023-12,16296.919922,16751.640625
3727,WZ08-561-01,91.9,6.5,2023-12,16296.919922,16751.640625
3728,WZ08-55-01,90.7,6.5,2023-12,16296.919922,16751.640625

### Globales Modell fÃ¼r alle Gastros

In [11]:
# Sample training data from original data
train_data = merged_df_dax_gastro.sample(frac=0.8, random_state=0)

# Get test data by dropping training data from original data
test_data = merged_df_dax_gastro.drop(train_data.index) 

print(f"Training data: {train_data.shape} \nTest data: {test_data.shape}")

Training data: (2983, 6)
Test data: (746, 6)

In [12]:

# Features
X_series = train_data[[' TMK','Open','Close']]
X_df = train_data[[' TMK','Open','Close']]
y_series = train_data['Umsatz in millionen']

# Assign train data
X_train = X_df 
y_train = y_series

In [13]:
# Import
from sklearn.linear_model import LinearRegression

# Training
reg_all = LinearRegression()
reg_all.fit(X_train, y_train)
print(f"Regression line: Y = {reg_all.intercept_:.4f} + {reg_all.coef_[0]:.4f} * TMK + {reg_all.coef_[1]:.4f} * Open + {reg_all.coef_[2]:.4f} * Close")

Regression line: Y = 125.4139 + 1.9376 * TMK + 0.0004 * Open + -0.0049 * Close

In [14]:
# Import
from sklearn.metrics import mean_squared_error

X_test = test_data[[' TMK','Open','Close']]
y_test = test_data['Umsatz in millionen']
predictions = reg_all.predict(X_test)
mse =  mean_squared_error(y_test, predictions)
print(f"Mean squared error (MSE) on test data: {mse:.2f}")

Mean squared error (MSE) on test data: 867.82

In [15]:
# Calculate Root Mean Squared Error (RMSE)
rmse = mse ** 0.5
print(f"Root Mean Squared Error (RMSE) on test data: {rmse:.2f}")

# Calculate the mean of the target variable in the test data
mean_target = y_test.mean()
print(f"Mean of target variable (Umsatz in millionen) in test data: {mean_target:.2f}")

# Calculate the relative error
relative_error = rmse / mean_target
print(f"Relative error: {relative_error:.2%}")

Root Mean Squared Error (RMSE) on test data: 29.46
Mean of target variable (Umsatz in millionen) in test data: 111.74
Relative error: 26.36%

### Modell fÃ¼r jedes einzelne Gastro

In [16]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

# Annahme: merged_df_dax_gastro ist das DataFrame mit den Daten

# Initialisierung eines Dictionaries, um die Modelle und deren Koeffizienten zu speichern
coefficients = {}

# Unique Gastro-IDs erhalten
unique_gastro_ids = merged_df_dax_gastro['Gastro_Id'].unique()

# Iteration Ã¼ber jede Gastro-ID
for gastro_id in unique_gastro_ids:
    # Daten fÃ¼r die aktuelle Gastro-ID filtern
    gastro_data = merged_df_dax_gastro[merged_df_dax_gastro['Gastro_Id'] == gastro_id]
    
    # Trainings- und Testdaten aufteilen
    train_data = gastro_data.sample(frac=0.8, random_state=0)
    test_data = gastro_data.drop(train_data.index)
    
    # Features und Zielvariable definieren
    X_train = train_data[[' TMK', 'Open', 'Close']]
    y_train = train_data['Umsatz in millionen']
    X_test = test_data[[' TMK', 'Open', 'Close']]
    y_test = test_data['Umsatz in millionen']
    
    # Modell initialisieren und trainieren
    reg = LinearRegression()
    reg.fit(X_train, y_train)
    
    # Vorhersagen und Fehlerberechnung
    predictions = reg.predict(X_test)
    mse = mean_squared_error(y_test, predictions)
    rmse = np.sqrt(mse)
    
    # Relative Fehlerberechnung
    mean_target = y_test.mean()
    relative_error = rmse / mean_target
    
    # Speichern des Modells und der Koeffizienten
    coefficients[gastro_id] = {
        'intercept': reg.intercept_,
        'coefficients': reg.coef_,
        'rmse': rmse,
        'relative_error': relative_error
    }
    
    # Ausgabe der Ergebnisse fÃ¼r die aktuelle Gastro-ID
    print(f"GastroID: {gastro_id}")
    print(f"Regression line: Y = {reg.intercept_:.4f} + {reg.coef_[0]:.4f} * TMK + {reg.coef_[1]:.4f} * Open + {reg.coef_[2]:.4f} * Close")
    print(f"Mean squared error (MSE) on test data: {mse:.2f}")
    print(f"Root Mean Squared Error (RMSE) on test data: {rmse:.2f}")
    print(f"Mean of target variable (Umsatz in millionen) in test data: {mean_target:.2f}")
    print(f"Relative error: {relative_error:.2%}\n")

# Beispiel fÃ¼r Zugriff auf gespeicherte Koeffizienten
print(coefficients)

# Um ein Modell spÃ¤ter zu verwenden
example_gastro_id = unique_gastro_ids[0]
example_coefficients = coefficients[example_gastro_id]

print(f"Example GastroID: {example_gastro_id}")
print(f"Model coefficients: {example_coefficients}")

GastroID: WZ08-55
Regression line: Y = 101.3003 + 1.9843 * TMK + 0.0030 * Open + -0.0057 * Close
Mean squared error (MSE) on test data: 238.13
Root Mean Squared Error (RMSE) on test data: 15.43
Mean of target variable (Umsatz in millionen) in test data: 103.30
Relative error: 14.94%

GastroID: WZ08-551
Regression line: Y = 102.4165 + 1.7872 * TMK + 0.0030 * Open + -0.0056 * Close
Mean squared error (MSE) on test data: 262.92
Root Mean Squared Error (RMSE) on test data: 16.21
Mean of target variable (Umsatz in millionen) in test data: 102.99
Relative error: 15.74%

GastroID: WZ08-552
Regression line: Y = 92.1624 + 4.5558 * TMK + 0.0050 * Open + -0.0095 * Close
Mean squared error (MSE) on test data: 380.82
Root Mean Squared Error (RMSE) on test data: 19.51
Mean of target variable (Umsatz in millionen) in test data: 107.70
Relative error: 18.12%

GastroID: WZ08-553
Regression line: Y = 32.8658 + 4.4996 * TMK + 0.0060 * Open + -0.0042 * Close
Mean squared error (MSE) on test data: 1023.15
Root Mean Squared Error (RMSE) on test data: 31.99
Mean of target variable (Umsatz in millionen) in test data: 101.41
Relative error: 31.54%

GastroID: WZ08-559
Regression line: Y = 115.9893 + 2.5709 * TMK + -0.0001 * Open + -0.0040 * Close
Mean squared error (MSE) on test data: 1056.30
Root Mean Squared Error (RMSE) on test data: 32.50
Mean of target variable (Umsatz in millionen) in test data: 111.34
Relative error: 29.19%

GastroID: WZ08-56
Regression line: Y = 151.3831 + 1.1297 * TMK + -0.0017 * Open + -0.0043 * Close
Mean squared error (MSE) on test data: 367.74
Root Mean Squared Error (RMSE) on test data: 19.18
Mean of target variable (Umsatz in millionen) in test data: 115.14
Relative error: 16.66%

GastroID: WZ08-561
Regression line: Y = 155.4274 + 1.4237 * TMK + -0.0017 * Open + -0.0049 * Close
Mean squared error (MSE) on test data: 457.81
Root Mean Squared Error (RMSE) on test data: 21.40
Mean of target variable (Umsatz in millionen) in test data: 118.47
Relative error: 18.06%

GastroID: WZ08-562
Regression line: Y = 95.1109 + 0.3009 * TMK + 0.0006 * Open + -0.0011 * Close
Mean squared error (MSE) on test data: 102.70
Root Mean Squared Error (RMSE) on test data: 10.13
Mean of target variable (Umsatz in millionen) in test data: 94.77
Relative error: 10.69%

GastroID: WZ08-563
Regression line: Y = 229.6171 + 0.8970 * TMK + -0.0059 * Open + -0.0073 * Close
Mean squared error (MSE) on test data: 1018.40
Root Mean Squared Error (RMSE) on test data: 31.91
Mean of target variable (Umsatz in millionen) in test data: 131.25
Relative error: 24.31%

GastroID: WZ08-561-01
Regression line: Y = 165.2756 + 1.3537 * TMK + -0.0023 * Open + -0.0052 * Close
Mean squared error (MSE) on test data: 518.47
Root Mean Squared Error (RMSE) on test data: 22.77
Mean of target variable (Umsatz in millionen) in test data: 120.35
Relative error: 18.92%

GastroID: WZ08-55-01
Regression line: Y = 131.5513 + 1.4559 * TMK + 0.0001 * Open + -0.0048 * Close
Mean squared error (MSE) on test data: 261.81
Root Mean Squared Error (RMSE) on test data: 16.18
Mean of target variable (Umsatz in millionen) in test data: 110.28
Relative error: 14.67%

{'WZ08-55': {'intercept': 101.30033352267932, 'coefficients': array([ 1.98432034,  0.00304662, -0.00574531]), 'rmse': 15.431384415779544, 'relative_error': 0.14938629333499542}, 'WZ08-551': {'intercept': 102.41647844199017, 'coefficients': array([ 1.7871841 ,  0.00297553, -0.00557953]), 'rmse': 16.214841904748287, 'relative_error': 0.15744138470762117}, 'WZ08-552': {'intercept': 92.16236468090027, 'coefficients': array([ 4.55576326,  0.0049594 , -0.00950891]), 'rmse': 19.51449959708393, 'relative_error': 0.18119065125574607}, 'WZ08-553': {'intercept': 32.86584956237003, 'coefficients': array([ 4.49961009e+00,  6.03479198e-03, -4.16053949e-03]), 'rmse': 31.98669168289775, 'relative_error': 0.31540486564151954}, 'WZ08-559': {'intercept': 115.98933485619622, 'coefficients': array([ 2.57092212e+00, -9.55254648e-05, -4.01905898e-03]), 'rmse': 32.50083664198815, 'relative_error': 0.29190311861464424}, 'WZ08-56': {'intercept': 151.38312951470596, 'coefficients': array([ 1.12966163, -0.00174364, -0.00430799]), 'rmse': 19.176620935747263, 'relative_error': 0.16655302112943698}, 'WZ08-561': {'intercept': 155.4273947739914, 'coefficients': array([ 1.4236881 , -0.0016835 , -0.00488699]), 'rmse': 21.39659854346626, 'relative_error': 0.18060459787685187}, 'WZ08-562': {'intercept': 95.11087837416451, 'coefficients': array([ 0.30085183,  0.00062328, -0.00114698]), 'rmse': 10.134269254672443, 'relative_error': 0.10693143241127859}, 'WZ08-563': {'intercept': 229.61712358381902, 'coefficients': array([ 0.89703032, -0.00591397, -0.0072744 ]), 'rmse': 31.912417707601943, 'relative_error': 0.24314495446637296}, 'WZ08-561-01': {'intercept': 165.27556034397227, 'coefficients': array([ 1.35365196, -0.00225265, -0.00517035]), 'rmse': 22.769991141171417, 'relative_error': 0.18919347478001663}, 'WZ08-55-01': {'intercept': 131.5513303433953, 'coefficients': array([ 1.45587213e+00,  5.68214295e-05, -4.78507206e-03]), 'rmse': 16.18052164028055, 'relative_error': 0.14672491585953634}}
Example GastroID: WZ08-55
Model coefficients: {'intercept': 101.30033352267932, 'coefficients': array([ 1.98432034,  0.00304662, -0.00574531]), 'rmse': 15.431384415779544, 'relative_error': 0.14938629333499542}

In [29]:
# Eingabedaten
temperature = float(input('Temperatur: '))
dax_open = float(input('Dax Open: '))
dax_close = float(input('Dax Close: '))
gastro_id = input('Gastro ID (leave empty to predict for all): ')

def predict_umsatz(coefficients, temperature, dax_open, dax_close, gastro_id=None):
    predicted_results = []

    if gastro_id is None or gastro_id == '':
        # Iterate over each unique gastro ID
        for gastro_id in coefficients.keys():
            intercept = coefficients[gastro_id]['intercept']
            coefs = coefficients[gastro_id]['coefficients']
            predicted_umsatz = intercept + coefs[0] * temperature + coefs[1] * dax_open + coefs[2] * dax_close
            predicted_results.append({
                'GastroID': gastro_id,
                'Predicted_Umsatz_in_millionen': predicted_umsatz
            })
        
        # Convert predicted results to DataFrame
        predicted_df = pd.DataFrame(predicted_results)
        return predicted_df
    else:
        if gastro_id in coefficients:
            intercept = coefficients[gastro_id]['intercept']
            coefs = coefficients[gastro_id]['coefficients']
            predicted_umsatz = intercept + coefs[0] * temperature + coefs[1] * dax_open + coefs[2] * dax_close
            return pd.DataFrame([{
                'GastroID': gastro_id,
                'Predicted_Umsatz_in_millionen': predicted_umsatz
            }])
        else:
            return pd.DataFrame([{
                'GastroID': gastro_id,
                'Predicted_Umsatz_in_millionen': 'Model not available'
            }])

# Beispielaufruf der Funktion
predicted_df = predict_umsatz(coefficients, temperature, dax_open, dax_close, gastro_id)

# Anzeige des vorhergesagten Ergebnisses
print(f'Temperatur: {temperature}, Dax Open {dax_open}, Dax Close {dax_close}')
print(predicted_df)

Temperatur: 30.0, Dax Open 2000.0, Dax Close 2500.0
       GastroID  Predicted_Umsatz_in_millionen
0       WZ08-55                     152.559923
1      WZ08-551                     148.034241
2      WZ08-552                     214.981787
3      WZ08-553                     169.522387
4      WZ08-559                     182.878300
5       WZ08-56                     171.015723
6      WZ08-561                     182.553557
7      WZ08-562                     102.515531
8      WZ08-563                     226.514106
9   WZ08-561-01                     188.453956
10   WZ08-55-01                     163.378457

Temperatur: 30.0, Dax Open 200.0, Dax Close 250.0
       GastroID  Predicted_Umsatz_in_millionen
0       WZ08-55                     160.002942
1      WZ08-551                     155.232225
2      WZ08-552                     227.449915
3      WZ08-553                     168.020976
4      WZ08-559                     192.093129
5       WZ08-56                     183.847253
6      WZ08-561                     196.579590
7      WZ08-562                     103.974343
8      WZ08-563                     253.526640
9   WZ08-561-01                     204.142003
10   WZ08-55-01                     174.042590