In [367]:
import pandas as pd
import numpy as np

In [368]:
station_id = "377"

In [369]:
df_monthly = pd.read_csv(f"Daten/cleaned_data/{station_id}_produkt_klima_tag.csv")

In [370]:
df_monthly

,MESS_DATUM,RSK,RSKF,SDK,SHK_TAG,NM,VPM,TMK,UPM,TXK,TNK,TGK
0,1947-01-01,0.0,0,2.0,6,6.3,5.9,0.2,93.00,3.7,-3.9,-999.0
1,1947-01-02,0.1,7,0.0,3,7.7,5.6,0.2,90.00,1.8,-3.5,-999.0
2,1947-01-03,0.0,0,0.0,3,6.0,6.0,0.9,90.00,2.7,-1.0,-999.0
3,1947-01-04,0.0,0,4.7,2,3.7,3.7,-4.7,81.00,1.5,-8.4,-999.0
4,1947-01-05,0.0,0,6.6,1,0.0,2.0,-10.6,70.00,-4.5,-12.2,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...
27473,2023-12-27,0.0,0,-999.0,0,-999.0,8.3,6.5,84.75,8.5,3.1,0.6
27474,2023-12-28,1.1,4,-999.0,0,-999.0,9.4,8.8,82.08,10.5,5.2,2.8
27475,2023-12-29,0.1,4,-999.0,0,-999.0,9.2,10.4,73.13,12.7,8.3,7.4
27476,2023-12-30,0.0,0,-999.0,0,-999.0,9.1,9.2,78.08,11.8,5.9,2.8
27477,2023-12-31,2.1,4,-999.0,0,-999.0,8.1,6.4,84.21,10.0,4.5,1.9

In [371]:
monate = {
    "January": 1,
    "February": 2,
    "March": 3,
    "April": 4,
    "May": 5,
    "June": 6,
    "July": 7,
    "August": 8,
    "September": 9,
    "October": 10,
    "November": 11,
    "December": 12
}

In [372]:
df_monthly.replace(-999, np.nan, inplace=True)

# Variante 1: Nur nach Monat

In [373]:
# df_monthly["Monat"] = pd.to_datetime(df_monthly["MESS_DATUM"]).dt.month_name()

In [374]:
# df_grouped = df_monthly.drop(columns="MESS_DATUM")

In [375]:
# df_grouped["Monat_Code"] = df_grouped["Monat"].map(monate)

In [376]:
# durchschnittswerte_monatlich = df_grouped.groupby("Monat").mean().sort_values(by="Monat_Code")

In [377]:
# durchschnittswerte_monatlich

In [378]:
# durchschnittswerte_monatlich.to_csv(f"Daten/cleaned_data/Wetterdaten_monatsbasis/{station_id}_produkt_klima_monat.csv")

# Variante 2: Nach Jahr und Monat

In [379]:
df_monthly["MESS_DATUM"] = pd.to_datetime(df_monthly["MESS_DATUM"])

In [380]:
df_monthly["Datum"] = df_monthly["MESS_DATUM"].dt.to_period("M")
df_grouped = df_monthly.groupby("Datum").mean().reset_index()
df_grouped = df_grouped.drop(columns="MESS_DATUM")

In [381]:
df_grouped.to_csv(f"Daten/test/{station_id}_produkt_klima_monat.csv")

In [382]:
df = pd.read_csv(f"Daten/test/{station_id}_produkt_klima_monat.csv")

In [383]:
df["Datum"] = pd.to_datetime(df["Datum"])

In [384]:
df.to_csv(f"Daten/test/{station_id}_produkt_klima_monat.csv")