In [208]:
import pandas as pd
import numpy as np

In [209]:
station_id = "5792"

In [210]:
df_monthly = pd.read_csv(f"Daten/cleaned_data/{station_id}_produkt_klima_tag.csv")

In [211]:
monate = {
    "January": 1,
    "February": 2,
    "March": 3,
    "April": 4,
    "May": 5,
    "June": 6,
    "July": 7,
    "August": 8,
    "September": 9,
    "October": 10,
    "November": 11,
    "December": 12
}

In [212]:
df_monthly.replace(-999, np.nan, inplace=True)

In [213]:
df_monthly["Monat"] = pd.to_datetime(df_monthly["MESS_DATUM"]).dt.month_name()

In [214]:
df_grouped = df_monthly.drop(columns="MESS_DATUM")

In [215]:
df_grouped["Monat_Code"] = df_grouped["Monat"].map(monate)

In [216]:
durchschnittswerte_monatlich = df_grouped.groupby("Monat").mean().sort_values(by="Monat_Code")

In [217]:
durchschnittswerte_monatlich

,FX,FM,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,Monat_Code
Monat,,,,,,,,,,,,,,
January,22.562739,8.974696,4.795778,4.095987,3.963598,202.799189,4.987694,2.024475,701.094701,-10.955966,75.718536,-8.381694,-13.461107,1.0
February,21.234274,7.990303,4.588342,4.256765,4.692247,253.451966,5.014162,1.992224,700.063432,-11.244185,75.824394,-8.590587,-13.748446,2.0
March,20.432251,7.826658,4.827237,4.418306,5.122974,289.329819,5.325839,2.387667,701.163729,-9.572830,79.083290,-6.947233,-12.007815,3.0
April,17.908321,6.475140,5.302629,4.946598,5.204201,313.360468,5.817191,3.154390,702.515192,-7.005285,85.012816,-4.169133,-9.427019,4.0
May,16.646805,5.925767,5.272819,5.014014,5.367337,283.028974,5.970836,4.545474,707.363974,-2.551824,87.784285,0.298678,-4.896563,5.0
June,16.992917,5.729239,5.932158,4.812295,5.135251,206.050716,6.147662,5.772807,711.063686,0.529016,89.316999,3.400492,-1.818525,6.0
July,17.007941,5.801077,5.955130,4.063987,5.496968,108.693036,5.859264,6.539524,713.182925,2.505632,88.406183,5.395902,0.138366,7.0
August,16.379017,5.602959,5.633298,3.903922,5.649251,35.961134,5.571436,6.459739,713.224579,2.588277,86.770164,5.447990,0.303890,8.0
September,17.065446,6.233217,4.309702,3.667480,5.714019,28.261591,5.059720,5.244340,711.766686,0.371667,82.597848,2.973118,-1.848737,9.0
October,19.498824,7.561145,3.576606,3.419093,5.638948,44.704628,4.710042,3.816753,708.357648,-2.598023,75.522600,-0.201353,-4.815453,10.0
November,21.465326,8.277467,4.314553,3.864770,4.310381,82.975112,4.981452,2.767545,703.498618,-6.964220,75.702365,-4.525699,-9.291935,11.0
December,22.938166,9.032247,4.661563,4.078920,3.660931,141.049433,5.020370,2.255931,701.562880,-9.599350,75.676891,-7.060822,-12.039074,12.0

In [218]:
durchschnittswerte_monatlich.to_csv(f"Daten/cleaned_data/Wetterdaten_monatsbasis/{station_id}_produkt_klima_monat.csv")