In [1]:
import pandas as pd
import numpy as np

In [2]:
station_id = "5792"

In [3]:
df_monthly = pd.read_csv(f"Daten/cleaned_data/{station_id}_produkt_klima_tag.csv")

In [8]:
df_monthly

,MESS_DATUM,FX,FM,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK
0,1900-08-01,NaN,NaN,NaN,NaN,15.000,NaN,0.0,3.9,715.30,2.0,50.00,6.2,-3.6
1,1900-08-02,NaN,NaN,NaN,NaN,6.200,NaN,5.0,8.3,713.70,5.7,88.00,12.6,2.2
2,1900-08-03,NaN,NaN,NaN,NaN,1.300,NaN,8.0,7.9,710.60,3.6,96.00,7.9,1.2
3,1900-08-04,NaN,NaN,NaN,NaN,0.000,NaN,8.0,6.3,706.30,0.6,98.00,5.2,-2.8
4,1900-08-05,NaN,NaN,NaN,NaN,0.000,NaN,8.0,4.4,705.90,-3.9,95.00,-0.9,-5.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44967,2023-12-27,23.7,11.4,0.0,0.0,7.683,270.0,4.9,1.5,712.04,-2.6,31.25,0.6,-7.0
44968,2023-12-28,19.9,8.5,0.0,7.0,4.000,270.0,4.8,1.7,711.45,-2.4,33.79,-0.5,-5.7
44969,2023-12-29,25.7,11.0,0.0,7.0,5.867,270.0,7.0,3.3,707.86,-5.4,80.75,-3.5,-7.6
44970,2023-12-30,20.9,8.5,0.0,0.0,7.950,270.0,6.1,2.1,706.65,-6.8,58.71,-4.0,-9.9
44971,2023-12-31,22.0,9.3,7.2,7.0,2.867,268.0,7.0,2.4,700.52,-7.7,70.00,-5.1,-11.5

In [5]:
monate = {
    "January": 1,
    "February": 2,
    "March": 3,
    "April": 4,
    "May": 5,
    "June": 6,
    "July": 7,
    "August": 8,
    "September": 9,
    "October": 10,
    "November": 11,
    "December": 12
}

# Variante 1: Nur nach Monat

In [6]:
df_monthly.replace(-999, np.nan, inplace=True)

In [213]:
df_monthly["Monat"] = pd.to_datetime(df_monthly["MESS_DATUM"]).dt.month_name()

In [214]:
df_grouped = df_monthly.drop(columns="MESS_DATUM")

In [215]:
df_grouped["Monat_Code"] = df_grouped["Monat"].map(monate)

In [216]:
durchschnittswerte_monatlich = df_grouped.groupby("Monat").mean().sort_values(by="Monat_Code")

In [217]:
durchschnittswerte_monatlich

,FX,FM,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,Monat_Code
Monat,,,,,,,,,,,,,,
January,22.562739,8.974696,4.795778,4.095987,3.963598,202.799189,4.987694,2.024475,701.094701,-10.955966,75.718536,-8.381694,-13.461107,1.0
February,21.234274,7.990303,4.588342,4.256765,4.692247,253.451966,5.014162,1.992224,700.063432,-11.244185,75.824394,-8.590587,-13.748446,2.0
March,20.432251,7.826658,4.827237,4.418306,5.122974,289.329819,5.325839,2.387667,701.163729,-9.572830,79.083290,-6.947233,-12.007815,3.0
April,17.908321,6.475140,5.302629,4.946598,5.204201,313.360468,5.817191,3.154390,702.515192,-7.005285,85.012816,-4.169133,-9.427019,4.0
May,16.646805,5.925767,5.272819,5.014014,5.367337,283.028974,5.970836,4.545474,707.363974,-2.551824,87.784285,0.298678,-4.896563,5.0
June,16.992917,5.729239,5.932158,4.812295,5.135251,206.050716,6.147662,5.772807,711.063686,0.529016,89.316999,3.400492,-1.818525,6.0
July,17.007941,5.801077,5.955130,4.063987,5.496968,108.693036,5.859264,6.539524,713.182925,2.505632,88.406183,5.395902,0.138366,7.0
August,16.379017,5.602959,5.633298,3.903922,5.649251,35.961134,5.571436,6.459739,713.224579,2.588277,86.770164,5.447990,0.303890,8.0
September,17.065446,6.233217,4.309702,3.667480,5.714019,28.261591,5.059720,5.244340,711.766686,0.371667,82.597848,2.973118,-1.848737,9.0
October,19.498824,7.561145,3.576606,3.419093,5.638948,44.704628,4.710042,3.816753,708.357648,-2.598023,75.522600,-0.201353,-4.815453,10.0
November,21.465326,8.277467,4.314553,3.864770,4.310381,82.975112,4.981452,2.767545,703.498618,-6.964220,75.702365,-4.525699,-9.291935,11.0
December,22.938166,9.032247,4.661563,4.078920,3.660931,141.049433,5.020370,2.255931,701.562880,-9.599350,75.676891,-7.060822,-12.039074,12.0

In [218]:
durchschnittswerte_monatlich.to_csv(f"Daten/cleaned_data/Wetterdaten_monatsbasis/{station_id}_produkt_klima_monat.csv")

# Variante 2: Nach Jahr und Monat

In [9]:
df_monthly["MESS_DATUM"] = pd.to_datetime(df_monthly["MESS_DATUM"])

In [10]:
df_grouped = df_monthly.groupby([df_monthly['MESS_DATUM'].dt.year, df_monthly['MESS_DATUM'].dt.month]).mean()

In [11]:
df_grouped

                               MESS_DATUM         FX        FM        RSK  \
MESS_DATUM MESS_DATUM
1900       8          1900-08-16 00:00:00        NaN       NaN        NaN
           9          1900-09-15 12:00:00        NaN       NaN        NaN
           10         1900-10-16 00:00:00        NaN       NaN        NaN
           11         1900-11-15 12:00:00        NaN       NaN        NaN
           12         1900-12-16 00:00:00        NaN       NaN   0.600000
...                                   ...        ...       ...        ...
2023       8          2023-08-16 00:00:00  15.212903  5.093548   8.570968
           9          2023-09-15 12:00:00  12.760000  4.583333   2.943333
           10         2023-10-16 00:00:00  19.474194  7.861290   2.703226
           11         2023-11-15 12:00:00  24.790000  9.170000  13.213333
           12         2023-12-16 00:00:00  22.129032  8.551613   8.425806

                           RSKF       SDK     SHK_TAG        NM       VPM  \
MESS_DATUM MESS_DATUM
1900       8                NaN  3.916129         NaN  5.658065  6.187097
           9                NaN  5.833333         NaN  4.130000  5.476667
           10               NaN  4.841935         NaN  4.464516  3.900000
           11               NaN  2.933333         NaN  4.746667  3.403333
           12          7.000000  3.587097         NaN  4.054839  2.838710
...                         ...       ...         ...       ...       ...
2023       8           5.806452  5.772000    2.806452  5.658065  7.396774
           9           2.600000  8.173867    3.566667  3.900000  5.943333
           10          4.419355  5.932839    3.258065  5.764516  4.412903
           11          6.933333  2.453867  108.666667  6.496667  2.941379
           12          5.483871  3.210226  262.193548  6.048276  2.609677

                               PM       TMK        UPM       TXK        TNK
MESS_DATUM MESS_DATUM
1900       8           712.877419  1.529032  85.806452  4.961290  -1.351613
           9           716.693333  1.810000  75.000000  5.133333  -1.050000
           10          710.283871 -3.232258  80.800000 -0.400000  -6.612903
           11          701.403333 -5.366667  80.533333 -2.846667  -7.173333
           12          707.158065 -6.706452  74.032258 -3.803226  -9.606452
...                           ...       ...        ...       ...        ...
2023       8           714.832903  4.577419  86.313871  7.370968   1.935484
           9           716.819000  5.503333  68.826667  8.370000   3.170000
           10          709.790323  0.451613  70.833226  2.880645  -2.151613
           11          699.255333 -8.673333  87.506552 -5.690000 -11.500000
           12          704.451935 -7.458065  75.675484 -4.551613 -10.254839

[1478 rows x 14 columns]