## Wetterdaten data cleaning & filter

test für das säubern und formatieren von Wetterdaten

__Ziel__: Mit einer Schleife auf alle Ordner/csv-Dateien durchführen lassen

In [520]:
import pandas as pd

In [521]:
df_weather = pd.read_csv("Daten/Wetterdaten/tageswerte_KL_04763_19610101_20231231_hist/produkt_klima_tag_19610101_20231231_04763.csv", delimiter=";")
df_weather.head()
# Daten\Wetterdaten\tageswerte_KL_05792_19000801_20231231_hist\produkt_klima_tag_19370101_20231231_05717.csv

,STATIONS_ID,MESS_DATUM,QN_3,FX,FM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,eor
0,4763,19610101,-999,-999,-999,5,0.0,0,-999.0,4,7.7,6.3,-999,1.3,93.0,2.0,0.7,-0.1,eor
1,4763,19610102,-999,-999,-999,5,8.6,1,-999.0,4,7.3,5.9,-999,2.0,82.0,2.5,0.6,-0.2,eor
2,4763,19610103,-999,-999,-999,5,1.3,1,-999.0,2,7.3,6.5,-999,2.6,86.0,6.5,0.8,0.5,eor
3,4763,19610104,-999,-999,-999,5,1.2,8,-999.0,2,7.3,6.1,-999,1.4,92.0,2.9,-2.0,-3.2,eor
4,4763,19610105,-999,-999,-999,5,1.4,8,-999.0,0,6.0,5.9,-999,2.0,82.0,3.4,1.0,-0.7,eor

### int zu datetime

In [522]:
df_weather["MESS_DATUM"] = pd.to_datetime(df_weather["MESS_DATUM"], format='%Y%m%d')

In [523]:
df_weather.dtypes

STATIONS_ID             int64
MESS_DATUM     datetime64[ns]
QN_3                    int64
  FX                    int64
  FM                    int64
QN_4                    int64
 RSK                  float64
RSKF                    int64
 SDK                  float64
SHK_TAG                 int64
  NM                  float64
 VPM                  float64
  PM                    int64
 TMK                  float64
 UPM                  float64
 TXK                  float64
 TNK                  float64
 TGK                  float64
eor                    object
dtype: object

### löschen von Spalten
__Spalten die nur das Qualitätsbyte -999 enthalten sollen gelöscht werden__

In [524]:
df_weather.columns.array

<NumpyExtensionArray>
['STATIONS_ID',  'MESS_DATUM',        'QN_3',        '  FX',        '  FM',
        'QN_4',        ' RSK',        'RSKF',        ' SDK',     'SHK_TAG',
        '  NM',        ' VPM',        '  PM',        ' TMK',        ' UPM',
        ' TXK',        ' TNK',        ' TGK',         'eor']
Length: 19, dtype: object

In [525]:
#df_weather["STATIONS_ID"].unique()
#df_weather["MESS_DATUM"].unique()
#df_weather["QN_3"].unique()
#df_weather["  FX"].unique()
#df_weather["  FM"].unique()
#df_weather["QN_4"].unique()
#df_weather[" RSK"].unique()
#df_weather["RSKF"].unique()
#df_weather[" SDK"].unique()
#df_weather["SHK_TAG"].unique()
#df_weather["  NM"].unique()
#df_weather[" VPM"].unique()
#df_weather["  PM"].unique()
#df_weather[" TMK"].unique()
#df_weather[" UPM"].unique()
#df_weather[" TXK"].unique()
#df_weather[" TNK"].unique()
df_weather[" TGK"].unique()

#df_weather["eor"].unique()

array([-1.00e-01, -2.00e-01,  5.00e-01, -3.20e+00, -7.00e-01, -1.50e+00,
       -1.00e+00, -2.00e+00, -1.20e+00,  0.00e+00, -7.50e+00, -7.70e+00,
       -9.00e-01, -4.30e+00, -8.10e+00, -6.20e+00, -1.20e+01, -1.54e+01,
       -1.40e+01, -8.70e+00, -3.60e+00, -5.00e-01, -3.00e+00, -6.40e+00,
       -1.15e+01, -1.98e+01, -9.20e+00, -1.40e+00,  2.50e+00,  1.90e+00,
       -3.10e+00, -2.50e+00, -2.20e+00, -1.70e+00,  4.20e+00,  2.00e+00,
       -1.10e+00,  2.90e+00, -2.30e+00, -3.00e-01,  6.00e-01,  2.40e+00,
       -3.40e+00, -2.40e+00,  9.10e+00,  1.00e+00, -5.10e+00, -4.80e+00,
       -3.90e+00, -4.00e+00, -4.50e+00, -5.00e+00, -3.30e+00,  7.60e+00,
        7.40e+00,  7.20e+00, -2.10e+00, -7.20e+00,  2.70e+00,  1.50e+00,
       -2.80e+00,  1.10e+00,  4.60e+00,  3.00e+00,  3.50e+00,  4.50e+00,
        4.80e+00,  4.40e+00,  7.30e+00,  9.00e+00,  2.10e+00,  4.30e+00,
        4.00e+00,  5.60e+00,  8.50e+00,  2.20e+00,  7.00e+00,  5.80e+00,
        1.00e+01,  9.50e+00,  6.60e+00,  8.70e+00,  8.10e+00,  1.15e+01,
        9.90e+00,  5.20e+00,  4.10e+00,  6.00e+00,  5.00e+00,  3.40e+00,
        1.80e+00,  3.30e+00,  5.50e+00,  3.10e+00,  4.90e+00,  6.50e+00,
        1.07e+01,  1.10e+01,  1.11e+01,  1.24e+01,  1.21e+01,  9.30e+00,
        7.90e+00,  8.00e+00,  1.05e+01,  1.01e+01,  3.80e+00,  8.90e+00,
        1.27e+01,  7.50e+00,  1.36e+01,  5.90e+00,  1.09e+01,  1.16e+01,
        9.70e+00,  5.30e+00,  9.60e+00,  1.17e+01,  1.45e+01,  7.80e+00,
        9.40e+00,  1.14e+01,  1.04e+01,  7.70e+00,  1.25e+01,  1.30e+01,
        1.52e+01,  1.46e+01,  8.40e+00,  1.49e+01,  6.30e+00,  1.03e+01,
        1.18e+01,  6.10e+00,  1.13e+01,  8.30e+00,  1.22e+01,  1.08e+01,
        1.29e+01,  1.34e+01,  9.80e+00,  1.20e+01,  7.10e+00,  1.02e+01,
        1.40e+01,  5.10e+00,  4.70e+00,  3.60e+00,  3.70e+00,  1.30e+00,
        4.00e-01,  5.40e+00,  2.30e+00,  3.00e-01,  9.00e-01,  3.20e+00,
        8.00e-01,  1.40e+00,  1.70e+00, -3.50e+00, -7.90e+00, -9.50e+00,
       -8.00e+00, -1.80e+00,  5.70e+00, -4.70e+00, -6.60e+00, -5.90e+00,
       -1.04e+01, -1.19e+01, -1.50e+01, -1.56e+01, -1.43e+01, -1.10e+01,
       -9.00e+00, -1.55e+01, -1.65e+01, -1.48e+01, -1.01e+01, -3.70e+00,
       -7.00e+00, -1.22e+01, -5.60e+00, -6.00e-01, -4.00e-01, -8.50e+00,
       -1.42e+01, -6.90e+00, -1.39e+01, -2.90e+00, -1.82e+01, -1.60e+00,
        1.20e+00, -4.90e+00, -5.50e+00, -8.80e+00, -2.60e+00, -1.30e+01,
       -4.10e+00, -1.36e+01, -1.76e+01, -9.60e+00,  2.00e-01, -1.51e+01,
       -1.53e+01, -1.07e+01, -1.16e+01, -8.30e+00, -6.00e+00, -6.50e+00,
       -7.40e+00, -1.30e+00,  6.20e+00,  6.80e+00, -1.90e+00,  2.80e+00,
        1.35e+01,  1.28e+01,  9.20e+00,  6.90e+00,  1.19e+01,  8.60e+00,
        1.60e+00,  6.40e+00,  8.20e+00,  3.90e+00,  8.80e+00, -1.09e+01,
       -1.21e+01, -1.05e+01, -1.28e+01,  1.00e-01, -9.80e+00, -2.10e+01,
       -1.62e+01, -2.12e+01, -7.10e+00, -6.10e+00, -1.02e+01, -2.70e+01,
       -1.91e+01, -2.53e+01, -2.06e+01, -2.55e+01, -1.08e+01, -9.10e+00,
       -1.17e+01, -1.74e+01, -2.42e+01, -2.00e+01, -8.40e+00, -2.30e+01,
       -1.00e+01, -2.05e+01, -9.70e+00, -2.66e+01, -2.45e+01, -8.90e+00,
       -1.95e+01, -5.20e+00, -1.90e+01, -6.30e+00, -2.40e+01, -2.01e+01,
       -1.29e+01, -2.15e+01, -2.20e+01, -1.60e+01, -5.40e+00, -2.70e+00,
       -8.00e-01,  2.60e+00,  1.06e+01,  1.31e+01,  1.12e+01,  1.41e+01,
        1.33e+01,  1.53e+01,  1.43e+01,  1.26e+01,  1.44e+01,  1.23e+01,
       -3.80e+00,  7.00e-01, -5.80e+00, -1.13e+01, -4.60e+00, -1.25e+01,
       -1.94e+01, -4.40e+00, -1.67e+01, -1.63e+01, -1.66e+01, -1.80e+01,
       -9.40e+00, -1.83e+01, -1.24e+01,  1.67e+01,  6.70e+00, -4.20e+00,
       -7.60e+00, -1.47e+01, -9.90e+00, -1.06e+01, -5.70e+00, -8.60e+00,
       -2.02e+01, -1.46e+01,  1.50e+01,  1.38e+01,  1.32e+01, -1.14e+01,
       -1.41e+01, -8.20e+00, -2.16e+01, -1.64e+01,  1.54e+01, -7.30e+00,
       -1.37e+01, -1.59e+01, -1.71e+01,  1.68e+01,  1.37e+01,  1.75e+01,
        1.39e+01,  1.80e+01,  1.73e+01,  1.55e+01, -1.70e+01, -2.36e+01,
       -2.62e+01, -1.32e+01,  1.84e+01,  1.58e+01, -9.30e+00, -1.45e+01,
       -1.34e+01, -1.11e+01, -6.70e+00, -1.57e+01, -1.31e+01, -1.44e+01,
       -7.80e+00, -1.03e+01, -6.80e+00,  1.60e+01,  1.65e+01,  1.57e+01,
        1.56e+01, -1.26e+01, -1.52e+01, -1.12e+01, -2.43e+01, -1.38e+01,
       -1.58e+01, -5.30e+00, -1.23e+01, -2.13e+01, -2.65e+01, -2.25e+01,
       -1.35e+01, -2.11e+01,  1.42e+01,  1.64e+01,  1.59e+01,  1.48e+01,
        1.61e+01,  1.51e+01, -1.81e+01, -1.72e+01, -1.27e+01,  1.63e+01,
       -2.47e+01, -1.49e+01,  1.47e+01, -2.58e+01, -2.51e+01, -2.21e+01,
       -2.61e+01, -1.61e+01, -1.75e+01, -2.26e+01, -1.92e+01, -1.79e+01,
       -1.86e+01,  1.66e+01, -1.87e+01, -1.18e+01, -1.84e+01, -1.78e+01,
       -1.33e+01, -1.68e+01, -2.07e+01, -1.73e+01, -2.09e+01, -2.41e+01,
       -2.75e+01, -1.97e+01, -9.99e+02, -1.93e+01, -2.29e+01, -1.85e+01,
        1.72e+01, -2.14e+01,  1.81e+01, -2.57e+01, -2.46e+01,  1.69e+01,
       -2.32e+01, -2.37e+01, -2.08e+01, -1.89e+01, -2.19e+01, -1.99e+01,
        1.76e+01,  1.70e+01,  1.91e+01,  1.78e+01,  1.77e+01,  1.71e+01,
       -2.97e+01, -2.35e+01, -2.80e+01])

In [526]:
columns_to_drop = ["STATIONS_ID", "eor"]
df_weather = df_weather.drop(columns=columns_to_drop)

In [527]:
df_weather

,MESS_DATUM,QN_3,FX,FM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK
0,1961-01-01,-999,-999,-999,5,0.0,0,-999.0,4,7.7,6.3,-999,1.3,93.00,2.0,0.7,-0.1
1,1961-01-02,-999,-999,-999,5,8.6,1,-999.0,4,7.3,5.9,-999,2.0,82.00,2.5,0.6,-0.2
2,1961-01-03,-999,-999,-999,5,1.3,1,-999.0,2,7.3,6.5,-999,2.6,86.00,6.5,0.8,0.5
3,1961-01-04,-999,-999,-999,5,1.2,8,-999.0,2,7.3,6.1,-999,1.4,92.00,2.9,-2.0,-3.2
4,1961-01-05,-999,-999,-999,5,1.4,8,-999.0,0,6.0,5.9,-999,2.0,82.00,3.4,1.0,-0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21055,2023-12-27,-999,-999,-999,3,0.0,0,-999.0,0,-999.0,7.2,-999,4.5,85.75,8.0,0.5,-1.4
21056,2023-12-28,-999,-999,-999,3,0.0,0,-999.0,0,-999.0,7.7,-999,8.2,70.79,10.0,6.9,5.3
21057,2023-12-29,-999,-999,-999,3,4.6,4,-999.0,0,-999.0,8.5,-999,8.9,74.54,10.0,7.2,5.5
21058,2023-12-30,-999,-999,-999,3,1.3,4,-999.0,0,-999.0,8.0,-999,7.1,79.25,8.6,5.4,2.6
21059,2023-12-31,-999,-999,-999,3,0.2,4,-999.0,0,-999.0,7.7,-999,6.3,80.46,9.0,3.6,0.2

### filter abspeichern

In [528]:
#filename = "Daten/cleaned_data/4763_produkt_klima_tag.csv"
#df_weather.to_csv(filename, index=False)
# Bestätige die Speicherung der CSV-Datei
import os
#print(f"Die CSV-Datei wurde gespeichert: {os.path.abspath(filename)}")

### Filter auf alle produkt_klima_tag*-Dateien

### (Je Nach Untersuchungsart nochmal aufteilen)
__zum Beispiel "Wind", "Niederschlag", "Temperatur", ...__

=> Qualitätsniveaus wurden rausgeworfen

In [529]:
#df = pd.read_csv("Daten/cleaned_data/3939_produkt_klima_tag.csv")

In [530]:
df= df_weather

In [531]:
columns_to_drop = ["QN_4", "QN_3"]
df = df.drop(columns=columns_to_drop)

In [532]:
import numpy as np
#df.to_csv("Daten/cleaned_data/5717_produkt_klima_tag.csv")
df.replace(-999, np.nan, inplace=True)
df

,MESS_DATUM,FX,FM,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK
0,1961-01-01,NaN,NaN,0.0,0.0,NaN,4.0,7.7,6.3,NaN,1.3,93.00,2.0,0.7,-0.1
1,1961-01-02,NaN,NaN,8.6,1.0,NaN,4.0,7.3,5.9,NaN,2.0,82.00,2.5,0.6,-0.2
2,1961-01-03,NaN,NaN,1.3,1.0,NaN,2.0,7.3,6.5,NaN,2.6,86.00,6.5,0.8,0.5
3,1961-01-04,NaN,NaN,1.2,8.0,NaN,2.0,7.3,6.1,NaN,1.4,92.00,2.9,-2.0,-3.2
4,1961-01-05,NaN,NaN,1.4,8.0,NaN,0.0,6.0,5.9,NaN,2.0,82.00,3.4,1.0,-0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21055,2023-12-27,NaN,NaN,0.0,0.0,NaN,0.0,NaN,7.2,NaN,4.5,85.75,8.0,0.5,-1.4
21056,2023-12-28,NaN,NaN,0.0,0.0,NaN,0.0,NaN,7.7,NaN,8.2,70.79,10.0,6.9,5.3
21057,2023-12-29,NaN,NaN,4.6,4.0,NaN,0.0,NaN,8.5,NaN,8.9,74.54,10.0,7.2,5.5
21058,2023-12-30,NaN,NaN,1.3,4.0,NaN,0.0,NaN,8.0,NaN,7.1,79.25,8.6,5.4,2.6
21059,2023-12-31,NaN,NaN,0.2,4.0,NaN,0.0,NaN,7.7,NaN,6.3,80.46,9.0,3.6,0.2

In [533]:
df.to_csv("Daten/cleaned_data/4763_produkt_klima_tag.csv")

In [534]:
df

,MESS_DATUM,FX,FM,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK
0,1961-01-01,NaN,NaN,0.0,0.0,NaN,4.0,7.7,6.3,NaN,1.3,93.00,2.0,0.7,-0.1
1,1961-01-02,NaN,NaN,8.6,1.0,NaN,4.0,7.3,5.9,NaN,2.0,82.00,2.5,0.6,-0.2
2,1961-01-03,NaN,NaN,1.3,1.0,NaN,2.0,7.3,6.5,NaN,2.6,86.00,6.5,0.8,0.5
3,1961-01-04,NaN,NaN,1.2,8.0,NaN,2.0,7.3,6.1,NaN,1.4,92.00,2.9,-2.0,-3.2
4,1961-01-05,NaN,NaN,1.4,8.0,NaN,0.0,6.0,5.9,NaN,2.0,82.00,3.4,1.0,-0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21055,2023-12-27,NaN,NaN,0.0,0.0,NaN,0.0,NaN,7.2,NaN,4.5,85.75,8.0,0.5,-1.4
21056,2023-12-28,NaN,NaN,0.0,0.0,NaN,0.0,NaN,7.7,NaN,8.2,70.79,10.0,6.9,5.3
21057,2023-12-29,NaN,NaN,4.6,4.0,NaN,0.0,NaN,8.5,NaN,8.9,74.54,10.0,7.2,5.5
21058,2023-12-30,NaN,NaN,1.3,4.0,NaN,0.0,NaN,8.0,NaN,7.1,79.25,8.6,5.4,2.6
21059,2023-12-31,NaN,NaN,0.2,4.0,NaN,0.0,NaN,7.7,NaN,6.3,80.46,9.0,3.6,0.2