In [1]:
import pandas as pd

In [3]:
df_monthly = pd.read_csv("Daten/cleaned_data/377_produkt_klima_tag.csv")

In [4]:
df_monthly

,MESS_DATUM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,TMK,UPM,TXK,TNK,TGK
0,1947-01-01,5,0.0,0,2.0,6,6.3,5.9,0.2,93.00,3.7,-3.9,-999.0
1,1947-01-02,5,0.1,7,0.0,3,7.7,5.6,0.2,90.00,1.8,-3.5,-999.0
2,1947-01-03,5,0.0,0,0.0,3,6.0,6.0,0.9,90.00,2.7,-1.0,-999.0
3,1947-01-04,5,0.0,0,4.7,2,3.7,3.7,-4.7,81.00,1.5,-8.4,-999.0
4,1947-01-05,5,0.0,0,6.6,1,0.0,2.0,-10.6,70.00,-4.5,-12.2,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27473,2023-12-27,3,0.0,0,-999.0,0,-999.0,8.3,6.5,84.75,8.5,3.1,0.6
27474,2023-12-28,3,1.1,4,-999.0,0,-999.0,9.4,8.8,82.08,10.5,5.2,2.8
27475,2023-12-29,3,0.1,4,-999.0,0,-999.0,9.2,10.4,73.13,12.7,8.3,7.4
27476,2023-12-30,3,0.0,0,-999.0,0,-999.0,9.1,9.2,78.08,11.8,5.9,2.8
27477,2023-12-31,3,2.1,4,-999.0,0,-999.0,8.1,6.4,84.21,10.0,4.5,1.9