In [1]:
import pandas as pd

In [3]:
df_monthly = pd.read_csv("Daten/cleaned_data/377_produkt_klima_tag.csv")

In [6]:
df_monthly["Monat"] = pd.to_datetime(df_monthly["MESS_DATUM"]).dt.month_name()

In [9]:
df_monthly.dtypes

MESS_DATUM     object
QN_4            int64
 RSK          float64
RSKF            int64
 SDK          float64
SHK_TAG         int64
  NM          float64
 VPM          float64
 TMK          float64
 UPM          float64
 TXK          float64
 TNK          float64
 TGK          float64
Monat          object
dtype: object

In [11]:
df_grouped = df_monthly.drop(columns="MESS_DATUM")

In [12]:
durchschnittswerte_monatlich = df_grouped.groupby("Monat").mean()

In [13]:
durchschnittswerte_monatlich

,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,TMK,UPM,TXK,TNK,TGK
Monat,,,,,,,,,,,,
April,7.733333,1.712711,1.774667,-441.503956,0.005333,-155.975556,8.232667,10.187067,66.432889,15.032444,5.452489,-183.342711
August,7.640000,2.068000,1.425806,-425.985442,-159.840000,-156.248516,15.177161,18.859871,70.020280,24.199097,14.055140,-162.592215
December,7.671053,2.678650,2.577250,-447.038752,-4.767402,-158.229669,6.593336,2.626019,85.486893,4.908956,0.309083,-171.410441
February,7.731350,2.266856,2.548159,-451.682531,0.906043,-155.286355,6.082720,2.570822,79.165722,5.750567,-0.369452,-187.857318
January,7.733333,2.222667,2.719570,-438.667183,1.353548,-154.866194,6.047398,1.593806,84.011613,3.958667,-0.827312,-187.838194
July,7.640000,2.110495,1.511398,-421.635936,-159.840000,-156.235957,15.145548,19.612043,66.862099,24.852774,14.489505,-167.124860
June,7.648239,2.414846,1.617031,-431.735972,-160.338832,-156.520152,13.704369,17.748061,67.374409,22.811190,12.707802,-164.181320
March,7.733333,1.955011,2.030108,-437.066495,-1.077419,-155.718237,7.030366,5.334065,72.720826,10.467226,2.363699,-185.694753
May,7.640000,2.260387,1.684731,-435.669548,-159.840000,-156.045161,11.033333,14.487312,66.829247,19.465935,9.459785,-174.692000
November,7.671053,2.411053,2.129825,-439.238589,0.157018,-152.830658,-1.822149,5.468553,74.466061,8.235482,2.867105,-177.292675
October,7.671053,1.972284,1.583192,-422.795940,0.000000,-153.601783,10.151443,10.478947,80.897746,14.576910,6.916681,-165.919822
September,7.640000,1.921822,1.406667,-425.524533,-159.840000,-156.253778,12.699378,15.283822,74.824689,20.362622,10.905511,-165.253956