In [2]:
import pandas as pd
import numpy as np

In [3]:
station_id = "377"
IDs=["377","433","555","850","880","1443","1757","1975","3631","3927", "3939", "4763","4763","5705", "5717", "5792"]

In [4]:
df_monthly = pd.read_csv(f"Daten/cleaned_data/{IDs[15]}_produkt_klima_tag.csv")

df_monthly.dtypes

MESS_DATUM     object
  FX          float64
  FM          float64
 RSK          float64
RSKF          float64
 SDK          float64
SHK_TAG       float64
  NM          float64
 VPM          float64
  PM          float64
 TMK          float64
 UPM          float64
 TXK          float64
 TNK          float64
 TGK          float64
dtype: object

In [48]:
monate = {
    "January": 1,
    "February": 2,
    "March": 3,
    "April": 4,
    "May": 5,
    "June": 6,
    "July": 7,
    "August": 8,
    "September": 9,
    "October": 10,
    "November": 11,
    "December": 12
}

In [372]:
#df_monthly.replace(-999, np.nan, inplace=True)

# Variante 1: Nur nach Monat

In [43]:
#df_monthly["Monat"] = pd.to_datetime(df_monthly["MESS_DATUM"]).dt.month_name()

In [44]:
#df_grouped = df_monthly.drop(columns="MESS_DATUM")

In [45]:
#df_grouped["Monat_Code"] = df_grouped["Monat"].map(monate)

In [46]:
#durchschnittswerte_monatlich = df_grouped.groupby("Monat").mean().sort_values(by="Monat_Code")

In [47]:
#durchschnittswerte_monatlich

,FX,FM,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,Monat_Code
Monat,,,,,,,,,,,,,,,
January,NaN,NaN,2.222667,2.719570,1.594316,1.353548,5.921198,6.047398,NaN,1.593806,84.011613,3.958667,-0.827312,-1.669910,1.0
February,NaN,NaN,2.266856,2.548159,2.917373,0.906043,5.488758,6.082720,NaN,2.570822,79.165722,5.750567,-0.369452,-1.322764,2.0
March,NaN,NaN,1.955011,2.030108,4.452688,0.211886,4.906861,7.030366,NaN,6.198752,72.720826,10.467226,2.363699,0.965468,3.0
April,NaN,NaN,1.712711,1.774667,6.101042,0.005333,4.600529,8.232667,NaN,10.187067,66.432889,15.032444,5.452489,3.857322,4.0
May,NaN,NaN,2.260387,1.684731,6.947235,0.000000,4.517665,11.033333,NaN,14.487312,66.829247,19.465935,9.459785,8.102522,5.0
June,NaN,NaN,2.414846,1.617031,7.624379,0.000000,4.548752,13.704369,NaN,17.748061,67.374409,22.811190,12.707802,11.522558,6.0
July,NaN,NaN,2.110495,1.511398,8.030344,0.000000,4.290527,15.145548,NaN,19.612043,66.862099,24.852774,14.489505,13.092988,7.0
August,NaN,NaN,2.068000,1.425806,7.237801,0.000000,4.275576,15.177161,NaN,18.859871,70.020280,24.199097,14.055140,12.783611,8.0
September,NaN,NaN,1.921822,1.406667,5.921963,0.000000,4.269312,13.149222,NaN,15.283822,75.302157,20.362622,10.905511,9.563763,9.0
October,NaN,NaN,1.972284,1.583192,3.612087,0.000000,4.910383,10.579958,NaN,10.478947,81.356301,14.576910,6.916681,5.985612,10.0
November,NaN,NaN,2.411053,2.129825,1.985111,0.157018,5.826094,7.893490,NaN,5.468553,84.924987,8.235482,2.867105,1.797382,11.0
December,NaN,NaN,2.678650,2.577250,1.323615,0.749040,5.999949,6.593336,NaN,2.626019,85.486893,4.908956,0.309083,-0.637993,12.0

In [378]:
# durchschnittswerte_monatlich.to_csv(f"Daten/cleaned_data/Wetterdaten_monatsbasis/{station_id}_produkt_klima_monat.csv")

# Variante 2: Nach Jahr und Monat

In [6]:
for i in IDs:
    df_monthly = pd.read_csv(f"Daten/cleaned_data/{i}_produkt_klima_tag.csv")

    df_monthly["MESS_DATUM"] = pd.to_datetime(df_monthly["MESS_DATUM"])
    df_monthly["Datum"] = df_monthly["MESS_DATUM"].dt.to_period("M")
    df_grouped = df_monthly.groupby("Datum").mean().reset_index()
    df_grouped = df_grouped.drop(columns="MESS_DATUM")
    df_grouped.to_csv(f"Daten/test/{i}_produkt_klima_monat.csv",index=False)
    df = pd.read_csv(f"Daten/test/{i}_produkt_klima_monat.csv")
    df["Datum"] = pd.to_datetime(df["Datum"])
    df.to_csv(f"Daten/test/{i}_produkt_klima_monat.csv",index=False)

In [4]:
df

,Datum,RSK,RSKF,SDK,SHK_TAG,NM,VPM,TMK,UPM,TXK,TNK,TGK
0,1947-01-01,1.187097,2.225806,2.600000,1.000000,4.548387,4.703226,-2.503226,82.903226,0.590323,-5.822581,NaN
1,1947-02-01,1.689286,3.392857,2.239286,1.357143,5.971429,4.100000,-3.050000,81.964286,-0.664286,-6.250000,NaN
2,1947-03-01,4.006452,1.322581,3.409677,0.193548,5.654839,7.203226,5.425806,76.870968,9.941935,1.474194,NaN
3,1947-04-01,2.006667,0.600000,7.083333,0.000000,4.060000,8.596667,11.480000,64.533333,17.396667,6.266667,NaN
4,1947-05-01,1.367742,0.483871,2.932258,0.000000,4.529032,12.264516,15.925806,69.193548,21.129032,10.577419,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
898,2023-08-01,3.087097,1.935484,6.295097,NaN,NaN,17.248387,20.400000,71.875806,25.051613,16.200000,14.761290
899,2023-09-01,0.676667,0.800000,8.753333,NaN,NaN,15.263333,19.696667,67.385000,25.646667,14.236667,12.150000
900,2023-10-01,4.061290,2.193548,4.076323,0.000000,NaN,11.832258,13.932258,75.099677,18.409677,9.358065,7.503226
901,2023-11-01,5.086667,3.600000,1.015095,0.000000,NaN,8.670000,7.050000,84.287333,9.630000,4.413333,0.558333
902,2023-12-01,2.480645,2.838710,NaN,0.000000,NaN,7.945161,5.677419,84.810323,7.829032,3.351613,1.854839